/* Whole HTML Document */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Code Pro', monospace;
  position: relative;
  background-image: url("./Assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 100px;
  height: 100vh;
  margin: 0px;
  box-sizing: border-box;
  min-height: fit-content;
}

/* --- 1ST SECTION ---*/
  /* Navigation bar */

  #nav-bar {
    position: fixed;
    display: flex;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
    padding: 20px;
    height: 50px;
    width: 100%;
    align-items: center;
    z-index: 1;
  }

  .logo {
    position: relative;
    color: white;
    left: 15%;
  }

  .nav-links {
    position: relative;
    display: flex;
    left: 50%;
  }

  .nav-links li {
    position: relative;
    list-style-type: none;
  }

  .nav-links a {
    position: relative;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    margin: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    transition: 1s;
  }

  .nav-links a:hover {
    position: relative;
    color: #F6FA70;
    background-color: rgba(0, 143, 225, 0.8);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }

  /* Intro Message */

  .intro-msg {
    position: absolute;
    color: #F6FA70;
    left: 100px;
    top: 250px;
  }

  .intro-msg h2 {
    font-size: 50px;
  }

  .intro-msg h1 {
    display: inline-block;
    font-size: 75px;
    color: #FF0060;
    width: 100%;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: 
      typing 3s steps(23),
      cursor .4s step-end infinite alternate;
  }

  @keyframes typing {
    from { width: 0; }
  }

  .intro-msg h3 {
    text-decoration-line: overline;
    font-size: 25px;
    color:#00DFA2;
  }

/* --- 2ND SECTION --- */
  /* About Container */

  .about-container {
    position: relative;
    display: flex;
  }

  #about h1 {
    position: relative;
    display: flex;
    color: #FF0060;
    font-size: 50px;
    left: 100px;
  }

  .about-infos {
    background-color: rgb(18, 18, 18);
    position: relative;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    left: 100px;
    top: 50px;
    padding: 50px;
  }

  .about-infos2 {
    background-color: rgb(18, 18, 18);
    position: relative;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    left: 170px;
    top: 50px;
    padding: 50px;
  }
  
  .about-infos p {
    color:#00FF41;
    font-size: 20px;
  }
  
  .about-infos2 p {
    color:#00FF41;
    font-size: 17.5px;
  }

  .about-infos2 .p1 {
    color:#00FF41;
    font-size: 20px;
  }