/* Whole HTML Document */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Source+Code+Pro&display=swap");


* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Code', monospace;
}

body {
  position: relative;
  background-image: url("./Assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 100px;
  height: 100vh;
  margin: 0px;
  box-sizing: border-box;
  min-height: fit-content;
}

/* --- 1ST SECTION ---*/
  /* Navigation bar */

  #nav-bar {
    position: fixed;
    display: flex;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
    padding: 20px;
    height: 50px;
    width: 100%;
    align-items: center;
    z-index: 1;
  }

  .logo {
    position: relative;
    color: #F6FA70;
    text-decoration: none;
    font-size: 30px;
    left: 15%;
  }

  .nav-links {
    position: relative;
    display: flex;
    left: 40%;
  }

  .nav-links li {
    position: relative;
    list-style-type: none;
  }

  .nav-links a {
    position: relative;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    margin: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    transition: 1s;
  }

  .nav-links a:hover {
    position: relative;
    color: #F6FA70;
    background-color: rgba(0, 143, 225, 0.8);
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }

  /* Hamburger Nav */

  #hamburger-nav {
    display: none;
  }
 
  /* Intro Message */

  .intro-msg {
    position: absolute;
    color: #F6FA70;
    left: 100px;
    top: 200px;
  }

  .intro-msg h2 {
    position: relative;
    font-size: 50px;
    left: 300px;
  }

  .intro-msg h1 {
    position: relative;
    left: 300px;
    display: inline-block;
    font-size: 75px;
    color: #FF0060;
    width: 100%;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: 
      typing 3s steps(23),
      cursor .4s step-end infinite alternate;
  }

  @keyframes typing {
    from { width: 0; }
  }

  .intro-msg h3 {
    position: relative;
    left: 300px;
    text-decoration-line: overline;
    font-size: 25px;
    color:#00DFA2;
  }

  .social-icons {
    position: relative;
    display: flex;
    top: 100px;
  }

  .social-icons img {
    position: relative;
    height: 40px;
    width: 40px;
    margin-top: 20%;
    margin-left: 15px;
  }

  
  .social-icons button {
    position: relative;
    display: flex;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 20px;
    background-color: red;
    box-shadow: 0px 9px rgb(81, 0, 0);
    transition: 0s;
  }

  .social-icons button:active {
    background-color: rgb(0, 181, 0);
    box-shadow: 0px 6px rgb(0, 81, 0);
    transform: translateY(3px);
  }

  .prof-pic {
    position: absolute;
    height: 240px;
    width: 240px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    border-width: 5px;
    border-radius: 10px;
    transition: .1s;
  }

  .prof-pic:hover {
    opacity: .5;
  }

/* --- 2ND SECTION --- */

  .about-container {
    position: absolute;
    display: flex;
  }

  #about h1 {
    position: relative;
    display: flex;
    color: #FF0060;
    font-size: 50px;
    left: 100px;
  }

  .about-infos {
    background-color: rgb(18, 18, 18);
    position: relative;
    border-color: rgb(89, 89, 89);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    left: 100px;
    top: 40px;
    padding: 50px;
  }

  .about-infos2 {
    background-color: rgb(18, 18, 18);
    position: relative;
    border-color: rgb(89, 89, 89);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    left: 170px;
    top: 40px;
    padding: 50px;
  }
  
  .about-infos p {
    color:#00FF41;
    font-size: 20px;
  }
  
  .about-infos2 p {
    color:#00FF41;
    font-size: 17.5px;
  }

  .about-infos2 .p1 {
    color:#00FF41;
    font-size: 20px;
  }

  .section2-btn {
    position: relative;
    padding-top: 6%;
    right: 41%;
    top: 380px;
  }

  .section2-btn button {  
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    font-size: 20px;
    box-shadow: 0px 9px rgb(81, 0, 0);
    transition: 0s;
  }

  .section2-btn button:active {
    background-color: rgb(0, 181, 0);
    box-shadow: 0px 6px rgb(0, 81, 0);
    transform: translateY(3px);
  }

  /* --- 2ND SECTION (part2) --- */

  .about2-container {
    position: absolute;
    display: flex;
    left: 20%
  }

  #about2 h1 {
    position: relative;
    display: flex;
    color: #FF0060;
    font-size: 50px;
    left: 100px;
  }

  .about-infos3{
    background-color: rgb(18, 18, 18);
    position: relative;
    border-color: rgb(89, 89, 89);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    left: 170px;
    top: 40px;
    padding: 50px;
  }

  .about-infos3 p {
    color:#00FF41;
    font-size: 20px;
  }

  .skills-container {
    position: relative;
    display: flex;
    padding-bottom: 15px;
  }

  .skills-container img {
    position: relative;
    height: 40px;
    width: 40px;
  }

  .skills-container p {
    position: relative;
    padding-top: 7px;
  }

/* --- 3RD SECTION --- */

  #projects h1 {
    position: absolute;
    display: flex;
    color: #FF0060;
    font-size: 50px;
    left: 100px;
  }

  .projects-container {
    position: relative;
    align-items: center;
    display: flex;
    top: 20%;
    left: 13%;
  }

  .projects-btn {
    position: relative;
    margin: 50px;
    border-color: rgb(89, 89, 89);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(18, 18, 18);
    padding: 20px;
    height: 280px;
    width: 240px;
    transition: 1s;
  }

  .projects-btn:hover {
    transform: scale(1.2);
  }

  .projects-btn a {
    position: relative;
  }

  .projects-btn img {
    position: relative;
    height: 200px;
    width: 240px;
    opacity: .3;
    transition: 1s;
  }

  .projects-btn img:hover {
    opacity: 1;
  }

  .projects-btn p {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 7%;
    color: #00FF41;
    text-align: center;
  }

/* --- 4TH SECTION --- */

  #contact h1{
    position: relative;
    top: 4%;
    color: #FF0060;
    text-align: center;
    font-size: 50px;
  }

  .contact-container {
    position: relative;
    border-color: rgb(89, 89, 89);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(18, 18, 18);
    padding: 50px;
    height: 260px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }

  .contact-container p {
    text-align: center;
    color: #00FF41;
    padding-top: 20px;
  }

  .icons-text-container {
    position: relative;
    display: flex;
    margin-top: 10%;
    left: 8%;

  }

  .contact-container img {
    display: block;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
  }






